# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
.pytest_cache/

# Runtime outputs
*.json
*.jsonl
repos/

# ========================
# Go
# ========================
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go modules
/vendor/

# ========================
# IDE / Editor
# ========================
.idea/
.vscode/

# ========================
# OS / temp files
# ========================
.DS_Store
Thumbs.db
*.swp
*~

# ========================
# Logs
# ========================
*.log

# ========================
# Build artifacts
# ========================
codeparser.exe
